// Place all the styles related to the hotel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ============ HOTELS ============ */


.hotel{
  width:100%;
  margin: 10px 0;
  border:1px solid #333;
  border-radius:5px;
  overflow:hidden;
  background-color:#f6f6f6;

  & hr{
    margin: 5px 0;
  }

  & .btn,
  & .btn:first-child:not(:last-child),
  & .btn:last-child:not(:first-child),
  & .btn-group .btn+.btn{
    border-radius:0;
    margin:0;
  }

  & .hotel-img,
  & .hotel-details,
  & .hotel-tools{
    display:block;
    width:100%;
  }

  & .hotel-img{
    height:140px;
    overflow:hidden;
    border-bottom:1px solid #333;

    & img{
      width:100%;
      height:auto;
    }
  }

  & .hotel-tools{
    width:100%;
    border-top:1px solid #ccc;

    & a{
      border:0;
      width:25%;
      margin:0;
      border-left:1px solid #ccc;

      &:first-child{
        border-left:0;
        margin-left:1px;
      }
    }
  }

  & .hotel-details{
    padding: 10px;

    & strong{
      font-size:15px;
    }
  }
}
